@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

$gradientBg: linear-gradient(180deg, #E91E63 1.11%, #BB6BD9 98.33%);
$gradientMiniBg: linear-gradient(180deg, #E91E63 0%, #BB6BD9 100%);

body {
  margin: 0;
}

.page {
  width: 100%;
  min-height: 100vh;
  background: $gradientBg;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  margin: 160px auto 80px auto;
  max-width: 999px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  overflow: hidden;
}

.row {
  display: flex;
}

.collections {
  background: url(../images/coffee.png);
  background-size: cover;
  width: 600px;

  &__background {
    width: 600px;
    min-height: 600px;
    background: rgba(51, 51, 51, 0.7);
  }

  &__buttons {
    display: flex;
    padding: 20px 20px 0 20px;
  }

  &__button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
    cursor: pointer;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }

    &_red {
      background: #ED7161;
    }

    &_yellow {
      background: #EFC41A;
    }

    &_green {
      background: #4FBA6E;
    }
  }
}

.header {
  &__title {
    margin: 40px auto 0 auto;
    width: 326px;
    font-family: Open Sans;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
  }

  &__sub-title {
    margin: 20px auto 0 auto;
    width: 326px;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    font-weight: 600;
    color: #FFFFFF;
  }
}

.content {
  margin: 20px 0 0 0;

  &__collections {
    display: flex;
    justify-content: center;
  }

  &__polygons {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
  }

  &__polygon {
    opacity: 0.4;
    width: 10px;
    height: 12px;
    cursor: pointer;
    transition: opacity 0.5s;

    &:nth-child(2n) {
      transform: rotate(180deg);
    }

    &_active {
      opacity: 1;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.collection {
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;

  &:hover &__background {
    transform: scale(1.2);
  }

  &__background {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: transform 1s;
  }

  &__content {
    width: 240px;
    height: 240px;
    box-sizing: border-box;
    padding: 25px 25px 20px 25px;
    position: relative;
    z-index: 11;
    top: 0;
    left: 0;
    background: rgba(242, 242, 242, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;

    font-family: Open Sans;
    font-size: 15px;
    line-height: 18px;

    color: #4F4F4F;
  }

  &__text {
    margin: 0;
    padding: 5px 0;
    font-family: Open Sans;
    font-size: 11px;
    line-height: 13px;
    color: #4F4F4F;
    font-weight: 600;

  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: background 0.5s;
    border-radius: 20px;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &__image {
    margin: 0 10px 0 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__link-text {
    margin: 0;
    font-family: Open Sans;
    font-size: 10px;
    line-height: 12px;

    color: #4F4F4F;
    font-weight: 700;
  }

  &_left {}

  &_right {
    margin: 86px 0 0 -10px;
    position: relative;
    z-index: 15;
  }
}

.login {
  width: 400px;
  min-height: 600px;
  background: $gradientMiniBg;
  box-sizing: border-box;
  padding: 40px;

  &__logo {
    display: block;
    margin: 0 auto 0 auto;
    width: 32px;
    height: 27.9px;
    object-fit: cover;
  }

  &__title {
    margin: 10px 0 0 0;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    line-height: 29px;
    font-weight: 600;
    color: #FFFFFF;
  }

  &__subtitle {
    margin: 10px 0 0 0;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: #FFFFFF;

  }
}

.form {
  margin: 40px 0 0 0;
  padding: 20px 11px 20px 11px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;

  &__label {
    margin: 15px 0 0 0;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    font-weight: 600;

    color: rgba(51, 51, 51, 0.5);

  }

  &__input {
    display: block;
    margin: 15px auto 0 auto;
    width: 282px;
    height: 45px;
    box-sizing: border-box;
    padding: 0 15px;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;

    &:focus {
      outline: none;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.30);
    }
  }

  &__login-btn {
    margin: 20px auto 0 auto;
    display: block;
    width: 140px;
    height: 45px;
    background: #000000;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.5s;

    &:hover {
      background: #BB6BD9;
    }
  }

  &__signup-link {
    font-family: Open Sans;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    font-weight: 600;

    color: rgba(51, 51, 51, 0.5);
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    color: #333333;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }
}